/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  max-width: 100%;
}


.content-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
.header {
  margin: 30px 0px 50px 0px;
}

.navbar-nav {
  gap: 61px;
}

.navbar-nav .nav-link {
  color: #000;
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  color: #6b6b6b;
}

.navbar-nav .nav-link:active {
  color: #e5c2a8;
}

.contact-btn {
  border: 1px solid #000;
  background: #fff;
  padding: 7px 23px;
  font-size: 20px;
}

.contact-btn:hover {
  background: #000;
  color: white;
  border-color: #fff;
}

.contact-btn:active {
   background-color: #D9D9D9; 
   border: 1px solid black; 
}

/* Main content */
.main-title {
  font-size: 96px;
  margin: 30px 0px 100px 0px;
}

.main-title span {
  color: #949494;
}

.description {
  max-width: 1015px;
  margin: 0 0 150px auto;
}

.description p {
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background: #424242;
  color: white;
  padding: 50px 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

footer .container-fluid {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-nav {
  display: flex;
  gap: 61px;
  margin-right: 230px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #6b6b6b;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-contact-item a {
  display: flex;
  margin-bottom: 10px;
}

.footer-address {
  text-align: right;
}

.footer-links {
  text-align: center;
  padding-top: 30px;
}

.footer-links a {
  margin: 0 10px;
}




@media (max-width: 1200px) {
  .main-title {
    font-size: 72px;
    line-height: 80px;
    margin: 30px 0px 60px 0px;
  }
}

@media (max-width: 991px) {
  .header {
    margin: 20px 0px 30px 0px;
  }

  .navbar-collapse {
    margin: 20px 0;
  }

  .contact-btn {
    margin-top: 20px;
    width: 100%;
  }

  .footer-nav {
    gap: 20px;
    flex-wrap: wrap;
  }
}


